<!doctype html>
<html>
  <!-- Cannlytics Console -->
  <!-- Created 11/26/2020 | Thanksgiving Day -->
  {% extends "cannlytics_console/base.html" %}
  {% load static %}

  <!-- Title -->
  {% block title %}
    {% if screen %}{{ screen|title }}{% else %}Dashboard{% endif %} | Cannlytics
  {% endblock %}

  <!-- Console header -->
  {% block page_css %}
    <link href="{% static 'cannlytics_console/css/console.css'%}?{% now "U" %}" rel="stylesheet" type="text/css">
    {% block console_css %}{% endblock console_css %}
  {% endblock %}

  <!-- Console Template -->
  {% block page %}

    <!-- Set the theme after the body, but before the page, loads. -->
    <script>
      cannlytics.theme.setInitialTheme();
    </script>

    <!-- Navbar -->
    {% include "cannlytics_console/layout/navbar.html" with navbar=navbar only %}

    <!-- Console -->
    <div class="container-fluid">
      <div class="row">
        
        <!-- Sidebar -->
        {% include "cannlytics_console/layout/sidebar.html" with screen=screen sidebar=sidebar only %}

        <!-- Dynamic Body -->
        {% block console_body %}{% endblock console_body %}
        
      </div>
    </div>

    <!-- Notifications -->
    {% include "./components/notification_toast.html" %}

  {% endblock %}

  <!-- Console JavaScript -->
  {% block page_js %}
    <script>
      cannlytics.app.initialize();
    </script>

    <!-- Screen-specific JavaScript -->
    {% block console_js %}{% endblock console_js %}

  {% endblock page_js %}
</html>
