<!doctype html>
<html>
  <!-- Cannlytics Console -->
  <!-- Created 11/26/2020 | Thanksgiving Day -->
  {% extends "cannlytics_console/base.html" %}
  {% load static %}

  <!-- Title -->
  {% block title %}{{ screen|title }} | Cannlytics{% endblock %}

  <!-- Console header -->
  {% block custom_css %}

    <!-- Console style -->
    <link href="{% static 'cannlytics_console/css/console.css'%}?{% now "U" %}" rel="stylesheet" type="text/css">

    <!-- Screen-specific style -->
    {% block console_css %}{% endblock console_css %}

    <!-- Console bundled JavaScript -->
    <script src="{% static 'cannlytics_console/js/bundle.js'%}?{% now "U" %}"></script>

  {% endblock %}

  <!-- Console Template -->
  {% block page %}

    <!-- Set the theme after the body, but before the page, loads. -->
    <script>
      cannlytics.setInitialTheme();
    </script>

    <!-- Navbar -->
    {% include "cannlytics_console/layout/navbar.html" with navbar=navbar only %}

    <!-- Console -->
    <div class="container-fluid">
      <div class="row">
        
        <!-- Sidebar -->
        {% include "cannlytics_console/layout/sidebar.html" with screen=screen sidebar=sidebar only %}

        <!-- Dynamic Body -->
        {% block console_body %}{% endblock console_body %}
        
      </div>
    </div>

  {% endblock %}

  <!-- Console JavaScript -->
  {% block custom_js %}

    <!-- Feather.js Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    <!-- Initialization -->
    <script>cannlytics.initializeConsole();</script>

    <!-- Screen-specific JavaScript -->
    {% block console_js %}{% endblock console_js %}

  {% endblock custom_js %}
</html>
