<!doctype html>
<html>
<!-- 500 Page -->
<!-- Created 4/27/2021 -->
{% extends "cannlytics_console/pages/account/base_login.html" %}
{% block title %}500 | Cannlytics{% endblock %}
{% block login_form %}
  <div class="text-center">
    <p class="h6 font-weight-light serif text-center mt-5 mb-4">
      An error occured on our end. Could you please
      report this occurance to support@cannlytics.com?
      You can use the following links to
      try to get to where you need to go.
    </p>
    <button
      class="btn btn-link text-dark"
      type="button"
      onclick="goBack()"
    >
      Back
    </button>
    <a
      class="btn btn-link text-dark"
      type="button"
      href="/"
    >
      Home
    </a>
    <a
      class="btn btn-link text-dark"
      type="button"
      href="/account/login"
    >
      Login
    </a>
  </div>

  <!-- Redirect to login JavaScript -->
  <script>
    function goBack() {
      window.history.back();
    }
  </script>

{% endblock %}

</html>
