<!doctype html>
<html>

  <!-- Clients Table -->
  <div class="card my-3">
    <div class="card-body">
      <h2 class="h6 mb-3 text-dark">Clients</h2>
      <div class="table-responsive">

        <!-- Placeholder if no records -->
        {% if True %}
          {% include "cannlytics_console/components/placeholders/placeholder.html" with
            placeholder=records.placeholder
            only
          %}

        <!-- Client records table -->
        {% else %}
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Organization</th>
                <th>License</th>
                <th>Projects</th>
                <th>Notes</th>
                <th>Status</th>
              </tr>
            </thead>
            <!-- TODO: Populate table dynamically -->
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
              </tr>
              <tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td>elit</td>
              </tr>
              <tr>
                <td>1,003</td>
                <td>Integer</td>
                <td>nec</td>
                <td>odio</td>
                <td>Praesent</td>
              </tr>
              <tr>
                <td>1,003</td>
                <td>libero</td>
                <td>Sed</td>
                <td>cursus</td>
                <td>ante</td>
              </tr>
              <tr>
                <td>1,004</td>
                <td>dapibus</td>
                <td>diam</td>
                <td>Sed</td>
                <td>nisi</td>
              </tr>
              <tr>
                <td>1,005</td>
                <td>Nulla</td>
                <td>quis</td>
                <td>sem</td>
                <td>at</td>
              </tr>
            </tbody>
          </table>
        {% endif %}

      </div>
    </div>
  </div>

</html>
