<!doctype html>
<html>
<!-- Cannlytics Console -->
<!-- Created 11/26/2020 Thanksgiving Day -->
{% extends "cannlytics_console/console.html" %}
{% block console_body %}

  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    <!-- Activity Graph -->
    <!-- TODO: Only show if the user has projects -->
    {% comment %} <div class="d-none d-lg-block">
      <div class="dropdown d-flex align-items-center">
        <a
          class="h6 dropdown-toggle text-dark mt-3"
          id="heatmapType"
          data-toggle="dropdown"
          aria-expanded="false"
          role="button"
          href="#"
        >
          Samples
        </a>
        <ul class="dropdown-menu" aria-labelledby="heatmapType">
          <li><a class="dropdown-item" href="#">Projects</a></li>
          <li><a class="dropdown-item" href="#">Batches</a></li>
          <li><a class="dropdown-item" href="#">Clients</a></li>
          <li><a class="dropdown-item" href="#">Transfers</a></li>
          <li><a class="dropdown-item" href="#">Turnaround</a></li>
        </ul>
      </div>
      <div id="heatmap" class="overflow-auto w-100"></div>
    </div> {% endcomment %}

    <!-- Simplified dashboard tables -->
    <div class="row">

      <!-- Simple timesries -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_timeseries.html" %}
      </div>

      <!-- Simple Team table -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_team_table.html" %}
      </div>

    </div>

    <!-- Simplified dashboard tables -->
    <div class="row">

      <!-- Simple analyses table -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_analyses_table.html" %}
      </div>

      <!-- Simple instruments table -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_instruments_table.html" %}
      </div>

    </div>

    <!-- Simple clients table -->
    {% include "cannlytics_console/screens/dashboard/dashboard_clients_table.html" %}

    <!-- Simple calendar -->
    {% include "cannlytics_console/screens/dashboard/dashboard_calendar.html" %}

    <!-- Simple reports table -->
    {% include "cannlytics_console/screens/dashboard/dashboard_reports_table.html" %}

    </div>

  </main>
  
{% endblock %}

<!-- Dashobard JavaScript -->
{% block console_js %}
  <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.5.2/dist/frappe-charts.min.iife.js"></script>
  {% comment %} <script src="{% static 'cannlytics_console/plugins/chartjs/chartjs-chart-matrix.min.js' %}"></script> {% endcomment %}
  <script>
    cannlytics.dashboard.initialize();
  </script>
{% endblock %}
</html>
