<!doctype html>
<html>
<!-- Cannlytics Console -->
<!-- Created 11/26/2020 Thanksgiving Day -->
{% extends "cannlytics_console/console.html" %}
{% block console_body %}
{% load static %}
  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <div class="mx-5">

      <!-- Welcome message (Only show to new users) -->
      <div class="mt-5">
        <h1 class="fs-2">{{ dashboard.welcome_message.title }}</h1>
        <p class="fs-6 text-secondary">{{ dashboard.welcome_message.message }}<p>
      </div>

      <!-- Get started cards -->
      <h1 class="fs-5 mb-0 lh-base mt-4 mb-3">Get started with Cannlytics</h1>
      <div class="row row-cols-1 row-cols-lg-3 g-4 mb-5">
        {% for item in dashboard.organization_choices %}
          <div class="col-6 col--4 my-3">
            <div
              class="card h-100 bg-transparent border-secondary shadow-hover rounded-3 px-0 py-2"
              style="max-width: 375px;"
            >
              <a
                class="card-block stretched-link text-decoration-none"
                href="/get-started/profile/?type={{ item.type }}"
              >
                <div class="card-body">
                  <h5 class="card-title text-dark fs-5">{{ item.title }}</h5>
                  <p class="card-text text-secondary fs-5 mb-4">
                    <small>{{ item.description }}</small>
                  </p>
                </div>
                <div class="card-footer no-border">
                  <a
                    class="text-danger fs-6 pt-3"
                    href="/get-started/profile/?type={{ item.type }}"
                  >
                    {{ item.action }} &rarr;
                  </a>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>


    <!-- Header -->
    {% comment %} <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          {% icon "calendar" %}
          This week
        </button>
      </div>
    </div> {% endcomment %}

    {% comment %} <!-- Simplified dashboard tables -->
    <div class="row">

      <!-- Simple timesries -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_timeseries.html" %}
      </div>

      <!-- Simple Team table -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_team_table.html" %}
      </div>

    </div>

    <!-- Simplified dashboard tables -->
    <div class="row">

      <!-- Simple analyses table -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_analyses_table.html" %}
      </div>

      <!-- Simple instruments table -->
      <div class="col">
        {% include "cannlytics_console/screens/dashboard/dashboard_instruments_table.html" %}
      </div>

    </div>

    <!-- Simple clients table -->
    {% include "cannlytics_console/screens/dashboard/dashboard_clients_table.html" %}

    <!-- Simple calendar -->
    {% include "cannlytics_console/screens/dashboard/dashboard_calendar.html" %}

    <!-- Simple reports table -->
    {% include "cannlytics_console/screens/dashboard/dashboard_reports_table.html" %}

    </div> {% endcomment %}

  </main>
  
{% endblock %}

<!-- Dashobard JavaScript -->
{% block console_js %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.5.2/dist/frappe-charts.min.iife.js"></script> {% endcomment %}
  {% comment %} <script src="{% static 'cannlytics_console/plugins/chartjs/chartjs-chart-matrix.min.js' %}"></script> {% endcomment %}
  {% comment %} <script>
    cannlytics.dashboard.initialize();
  </script> {% endcomment %}
{% endblock %}
</html>
