<!doctype html>
<html>
<!-- Samples Page -->
<!-- Created: 5/4/2021 -->
<!-- Updated: 5/4/2021 -->
{% extends "cannlytics_console/console.html" %}
{% block console_body %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="fs-5 mb-0 lh-base">Samples</h1>
    </div>

    <!-- Table -->
    <!-- TODO: Populate latest from organizations/{id}/transfers/{id}-->
    

  </main>

{% endblock console_body %}

<!-- JavaScript -->
{% block console_js %}
  <script>
    {% comment %} cannlytics.intake.initialize(); {% endcomment %}
  </script>
{% endblock console_js %}

</html>
