<!doctype html>
<html>
<!-- Login Page -->
<!-- Created 11/26/2020 Thanksgiving Day -->
{% extends "cannlytics_console/base.html" %}
{% load static %}
{% block title %}Console | Cannlytics{% endblock %}
{% block custom_css %}
  <link href="{% static 'cannlytics_auth/css/login.css' %}?{% now "U" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block page %}

  <!-- Template -->
  <div class="login">
    <form class="form-login mx-auto">
      {% csrf_token %}

      <!-- Title -->
      <div class="text-center mb-4">
        <img src="{% static 'cannlytics_auth/images/logos/cannlytics_calyx_detailed.svg' %}?{% now "U" %}"
          class="mb-3"
          style="height:6rem;"
        >
        <h1 class="h1 mb-3 brand-title text-uppercase font-weight-normal">
          Cannlytics
        </h1>
      </div>

      <!-- Form -->
      {% block login_form %}{% endblock %}

    </form>

  </div>

  <!-- DEMO -->
  <div class="w-100 text-center text-dark">
    <a href="/" class="text-dark fw-bold underline">
      Explore the demo!
    </a>
  </div>

  <!-- Privacy policy and terms of service -->
  <div class="w-100 text-center text-dark">
    <a href="https://cannlytics.com/privacy-policy" class="text-dark">
      <small>Privacy Policy</small>
    </a> |
    {% comment %} <a href="{% url 'index' %}" class="mx-3" title="Go to the Cannlytics homepage.">🏡</a> {% endcomment %}
    <a href="https://cannlytics.com/terms-of-service" class="text-dark">
      <small>Terms of Service</small>
    </a>
  </div>

{% endblock %}

<!-- Authentication JavaScript -->
{% block custom_js %}
  <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
  {% comment %} <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script> {% endcomment %}
  <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>
  <script src="{% static 'cannlytics_auth/js/auth.js'%}?{% now 'U' %}"></script>
{% endblock custom_js %}

</html>
