<!doctype html>
<html>
  <!-- Password Reset Change Page -->
  <!-- Created 12/5/2020 -->
  {% extends "cannlytics_auth/base_login.html" %}
  {% block title %} Change Password | Cannlytics {% endblock %}
  {% block login_form %}
    <div class="text-center">

      <!-- Message-->
      <p class="h6 font-weight-light serif text-center mb-4">
        Don't panic. Change your password.
      </p>

      <!-- Password Field -->
      <div class="mb-3 row">
        <label
          for="login-password"
          class="col-sm-2 col-form-label"
        >
          Password
        </label>
        <div class="col-sm-10">
          <input
            autocomplete="new-password"
            type="password"
            class="form-control"
            id="login-password"
            required
          >
        </div>
      </div>

      <!-- Matching Password Field -->
      <div class="mb-3 row">
        <label
          for="login-password-match"
          class="col-sm-2 col-form-label"
        >
          Confirm
        </label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="login-password-match"
            required
          >
        </div>
      </div>

      <!-- Options -->
      <div class="d-flex justify-content-center w-100 mt-4">
        <a
          class="flex-grow-1 me-1 btn bg-gradient bg-secondary no-underline text-white"
          style="max-width:250px;"
          type="button"
          href="{% url 'cannlytics_auth:index' page='login' %}"
        >
          Cancel
        </a>
        <button
          class="flex-grow-1 ms-1 btn bg-gradient-green text-white"
          style="max-width:250px;"
          type="button"
          onclick="resetPassword()"
        >
          Change Password
        </button>
      </div>

    </div>
  {% endblock %}

  <!-- TODO: Implement Password Change Functionality -->

</html>