<!doctype html>
<html>
<!-- Password Reset Change Page -->
<!-- Created 12/5/2020 -->
{% extends "cannlytics_auth/base_login.html" %}
{% block title %} Change Password | Cannlytics {% endblock %}
{% block login_form %}
  <div class="text-center">
    <p class="h5 font-weight-light serif text-center mb-4">
      Password reset change.
    </p>
    <a
      class="btn btn-success"
      type="button"
      href="{% url 'cannlytics_auth:index' page='login' %}"
    >
      Sign In
    </a>
  </div>
{% endblock %}
</html>