<!doctype html>
<html>
<!-- Sign Up Page -->
{% extends "cannlytics_auth/base_login.html" %}

{% block login_form %}

  <!-- Message -->
  <p class="font-weight-light mt-0 mb-4 text-center h6">
    Get a password reset email sent to you.
  </p>

  <!-- Email Field -->
  <div class="mb-3 row">
    <label
      for="login-email"
      class="col-sm-2 col-form-label"
    >
      Email
    </label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        id="login-email"
        required
        autofocus
        spellcheck="false"
      >
    </div>
  </div>

  <!-- Reset Password -->
  <div class="d-flex justify-content-center w-100 mt-4">
    <a
      class="flex-grow-1 me-1 btn bg-gradient bg-secondary no-underline text-white"
      style="max-width:250px;"
      type="button"
      href="{% url 'cannlytics_auth:index' page='login' %}"
    >
      Cancel
    </a>
    <button
      class="flex-grow-1 ms-1 btn bg-gradient-green text-white"
      style="max-width:250px;"
      type="button"
      onclick="resetPassword()"
    >
      Reset Password
    </button>
  </div>

  <!-- Sign Up -->
  <p class="text-dark text-center h6 font-weight-light mt-5">
    <small>
      <a
        class="text-dark"
        href="{% url 'cannlytics_auth:index' page='login' %}"
      >
        <b>&larr; Login</b>
      </a> or
      <a
        class="text-dark"
        href="{% url 'cannlytics_auth:index' page='sign-up' %}"
      >
        <b>sign up!</b>
      </a>
    </small>
  </p>

{% endblock %}
</html>
