<!doctype html>
<html>
<!-- Sign Up Page -->
{% extends "cannlytics_auth/base_login.html" %}

{% block login_form %}

  <!-- Message -->
  <p class="font-weight-light mb-4 text-center h5">
    Lost your password? Have no fear.
  </p>

  <!-- Email Field -->
  <div class="fieldWrapper">
    <div class="form-label-group">
      <input
        type="email"
        id="input_email"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      >
      <label for="{{ form.email.id_for_label }}">Email address</label>
    </div>
  </div>

  <!-- Reset Password -->
  <button
    type="button"
    onclick="resetPassword()"
    class="w-100 btn btn-success"
  >
    Reset Password
  </button>

  <!-- Sign Up -->
  <p class="text-dark text-center h6 font-weight-light mt-5">
    <small>
      <a
        class="text-dark"
        href="{% url 'cannlytics_auth:index' page='login' %}"
      >
        <b>&larr; Login</b>
      </a> or
      <a
        class="text-dark"
        href="{% url 'cannlytics_auth:index' page='sign-up' %}"
      >
        <b>sign up!</b>
      </a>
    </small>
  </p>

{% endblock %}
</html>
