<!doctype html>
<html>
  <!-- Sign Up Page -->
  {% extends "cannlytics_auth/base_login.html" %}

  {% block login_form %}

    <!-- Message -->
    <p class="font-weight-light mb-4 text-center h5">
      Choose a secure email and password.
    </p>

    <!-- Email Field -->
    <div class="fieldWrapper">
      <div class="form-label-group">
        <input
          name="email"
          type="email"
          id="input_email"
          class="form-control"
          placeholder="Email address"
          required
          autofocus
        >
        <label for="{{ form.email.id_for_label }}">Email address</label>
      </div>
    </div>

    <!-- Password Field -->
    <div class="fieldWrapper">
      <div class="form-label-group">
        <input
          autocomplete="new-password"
          name="password"
          type="password"
          id="input_password"
          class="form-control"
          placeholder="Password"
          required
          autofocus
        >
        <label for="{{ form.password.id_for_label }}">Password</label>
      </div>
    </div>

    <!-- Sign Up -->
    <button
      type="button"
      onclick="signUp()"
      class="w-100 btn btn-success"
    >
      Sign Up
    </button>

    <p class="text-center h6 font-weight-light mt-5">
      <small>
        <a class="text-dark" href="{% url 'cannlytics_auth:index' page='login' %}"><b>&larr; Login</b></a>
      </small>
    </p>

  {% endblock %}
</html>
