/*--------------------------------------------------------------------------
  Docs Style | Cannlytics
  Created: 4/30/2021
---------------------------------------------------------------------------*/

.md-content__inner p {
  line-height: 2 !important;
}

/* FIXME: Paragraph hover color needs to be dark green? */
/* .md-typeset a {
  color: #009485;
} */
.md-typeset a {
  color: #ffa600 !important;
}
.md-typeset a:hover {
  color: #ff6e42 !important;
}

.md-nav__link--active {
  color: #009485 !important;
}

.md-nav__link--active:hover,
.md-nav--primary .md-nav__item--active > .md-nav__link {
  color: #ff6e42 !important;
}

.md-search-result__more summary {
  color: #009485 !important;
}

.md-search-result__more summary:focus,
.md-search-result__more summary:hover {
  color: #ff6e42 !important;
}

.md-announce__inner {
  margin: .4rem auto !important;
}

/* Announcement actions */
.md-announce .md-typeset a {
  color: #ffa600 !important;
}
.md-announce .md-typeset a:hover {
  color: #ff6e42 !important;
}

/*--------------------------------------------------------------------------
  Header
---------------------------------------------------------------------------*/

/* body[data-md-color-scheme="default"] .md-header,
body[data-md-color-scheme="default"] .md-tabs {
  background-color: #fff;
} */

body[data-md-color-scheme="slate"] .md-header,
body[data-md-color-scheme="slate"] .md-tabs {
  background-color: #000;
}

.md-header__title {
  margin-left: 0;
}

/*--------------------------------------------------------------------------
  Footer (Optional: Make footer lighter)
---------------------------------------------------------------------------*/

/* body[data-md-color-scheme="default"] .md-footer-meta {
  background-color: #f8f9fa !important;
}

body[data-md-color-scheme="default"] .md-footer-copyright,
body[data-md-color-scheme="default"] .md-footer-copyright a,
body[data-md-color-scheme="default"] .md-footer-copyright__highlight,
body[data-md-color-scheme="default"] .md-footer-social__link svg {
  color: #6c757d !important;
} */

/*--------------------------------------------------------------------------
  Text
---------------------------------------------------------------------------*/

body[data-md-color-scheme="default"] .md-typeset h1 {
  color: #000 !important;
}

body[data-md-color-scheme="slate"] .md-typeset h1 {
  color: rgb(233, 235, 252) !important;
}
